@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* /// */

@font-face {
  font-family: 'Organetto';
  src: url('/fonts/Organetto/Organetto-LightExt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Organetto';
  src: url('/fonts/Organetto/Organetto-RegularExt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Organetto';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}



:root {
  --blue: #0132C5;
  --blood: #AB052D;
}

@theme {
  --color-blue: var(--blue);
  --color-blood: var(--blood);

  --font-montserrat: 'Montserrat';
  --font-organetto: 'Organetto';
  --breakpoint-*: initial;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat';
}
.container-fluid{
  padding: 0 50px;

}

@custom-variant 3xl (@media (max-width: 1599px)); /* Applies up to 1599px */
@custom-variant 2xl (@media (max-width: 1278px)); /* Applies up to 1399px */
@custom-variant xl (@media (max-width: 1199px));  /* Applies up to 1199px */
@custom-variant lg (@media (max-width: 991px));   /* Applies up to 991px */
@custom-variant md (@media (max-width: 767px));   /* Applies up to 767px */
@custom-variant sm (@media (max-width: 575px));   /* Applies up to 575px */
@custom-variant xs (@media (max-width: 479px));   /* Applies up to 479px */